pkgbase = max-bin-new
	pkgdesc = MAX messenger.
	pkgver = 26.31.0.78627
	pkgrel = 1
	url = https://max.ru
	arch = x86_64
	license = custom:max
	depends = ca-certificates
	depends = glib2
	depends = libxcb
	depends = libxinerama
	depends = libxcomposite
	depends = libxss
	depends = xcb-util-wm
	depends = xcb-util-cursor
	depends = xcb-util-keysyms
	depends = libxkbcommon
	depends = libva
	depends = libxaw
	depends = libvdpau
	depends = libnotify
	depends = gsettings-desktop-schemas
	depends = libxres
	depends = libglvnd
	optdepends = gnome-keyring: Fixses startup in Gmome. Store passwords and encryption keys.
	optdepends = hicolor-icon-theme
	provides = max
	conflicts = max
	conflicts = max-bin
	options = !strip
	options = !debug
	source_x86_64 = https://download.max.ru/linux/rpm/el/9/x86_64/MAX-26.31.0.78627.rpm
	sha256sums_x86_64 = b9253b7cf37a306091ef8c9a9ec340431c5ce7f64a521c852d7cdd111888257c

pkgname = max-bin-new
