pkgbase = max-bin-new
	pkgdesc = MAX messenger.
	pkgver = 26.24.0.75261
	pkgrel = 1
	url = https://max.ru
	arch = x86_64
	license = custom:max
	depends = libxcb
	depends = libxinerama
	depends = libxcomposite
	depends = xcb-util-wm
	depends = xcb-util-cursor
	depends = libva
	depends = libxaw
	depends = libvdpau
	depends = libnotify
	depends = desktop-file-utils
	depends = libxres
	optdepends = gnome-keyring: Fixses startup in Gmome. Store passwords and encryption keys.
	optdepends = hicolor-icon-theme
	provides = max
	conflicts = max
	conflicts = max-bin
	options = !strip
	options = !debug
	source_x86_64 = https://download.max.ru/linux/rpm/el/9/x86_64/MAX-26.24.0.75261.rpm
	sha256sums_x86_64 = e209adde2db4301975ecff20e841e59a64bf98fc37c154175b879487c5286d4c

pkgname = max-bin-new
